<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Angular Signale Demo</h1>
    </div>
  </div>
  <div class="row">
    <h1>Search String {{search()}}</h1>
    <input type="text" (input)="searchString($event)">
  </div>
  <div class="row">
    <h1>User Record List Display</h1>
    <ul>
      <li *ngFor="let user of userRecords()">
        {{user.name}}
      </li>
    </ul>
  </div>
  <div class="row">
    <h1>User Record List Display</h1>
    <ul>
      <li *ngFor="let user of filteredUserRecord()">
        {{user.name}}
      </li>
    </ul>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="addUser()">Add Random User</button>
  </div>
</div>
